.text_color {
    color: crimson;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Увеличиваем отступы между карточками */
    justify-content: center; /* Центрируем карточки в контейнере */
    background-color: bisque;
    padding: 20px; /* Добавляем отступы вокруг контейнера */
    border-radius: 10px; /* Закругляем углы контейнера */
}

.card {
    width: 18rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-text {
    color: #555;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}